fieldset {
   border: 2px solid #000;
   margin-bottom: 20px;
}
fieldset div { 
   width:40%;
   margin: 10% 30%;
}
legend {
   text-align: center;
   font-weight: bold;
}
input[type="text"], input[type="email"] {
   width:100%;
   height: 30px;
   border:none;
   border-bottom:2px solid #000;
   text-align: center;
}
input[type="button"], input[type="submit"]{
   width: 100%; height:30px;
   color:#fff;
   border-radius: 5px;
   background-color: #000;
   margin-top: 20px;
}
#EmailCode{
   margin-top: 20px;
}
#chk{
   background-color: #fff;
   border:2px solid #000;
   color: #000;
}

#errormessage{
	font-size: 10pt;
}