#info{
	font-size: 15px;
	color: #DF7401;
}

th{
	font-size: 20px;
	width: 165px;
}

#hello {
	text-align: center;
	margin-top: 4%;
	margin-bottom: 1%;
	
}

#jointable {
	margin-left: 20%;
	width: 70%;
	border-collapse:inherit; 
	border-spacing: 12px;
	text-align: center; 
}

#jointable input[type="text"] {
	display: table-cell;
	vertical-align: middle;
	height: 40px;
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
}

.joininfo{
	 display: table-cell;
	 width: fit-content;
	 height: fit-content;
}

.checkcell{
	vertical-align: middle;
	text-align: left;
	width: fit-content;
	height: fit-content;
}

.checkcell button{
	width: 60%;
	height: 40px;
	background-color: #00bf6f;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-size: 20px;
	
}

#join{
	margin-top: 5%;
	margin-left: 5%; 
	width: 100%;
	height: 50px;
	background-color: #00bf6f;
	border-radius: 5px;
	color: white;
	text-align: center;
	font-size: 15px;
}

#joinsex {
	display: table-cell;
	vertical-align: middle;
	width: 8%;
	height: 20px;
	position: relative;
	top: -5.5px;
	float: left;
}
#jointable label {
	top: 4px;
	font-size: 17px;
	float: left;
	margin-right: 30px;
}
