@charset "utf-8";

#wap {
		display: flex;
	}
	.margin{
		flex: 1;
	}
	#loginform {
		flex: 2;
		margin-top: 14%;
		margin-bottom: 16%;
	}
	
	h1{
		text-align: center;
		font-weight: bold;
		margin-bottom: 50px;
	}
	.login{
		margin-left: 10%;
		width: 80%;
		border-collapse:inherit; 
		border-spacing: 12px;
		text-align: center; 
		
	}

	.login input {
	    display: table-cell;
	    vertical-align: middle;
	    height: 50px;
	    width: 100%;
	    border: 1px solid black;
	    border-radius: 5px 5px 5px 5px; 
	     
	}
	
	.logininfo{
	    display: table-cell;
	    width: fit-content;
	    height: fit-content;
	 
	}
	
	
	.logincell{
		vertical-align: middle;
	    text-align: center;
	    width: fit-content;
	    height: fit-content;

	}
	#loginbtn{
		background-color: gray;
		border-radius: 5px 5px 5px 5px;
		font-size: 20px;
		color: white;
		text-align: center;
		width: 100%;
		height: 110px;
		
	}
	#loginbtn:hover{
		background-color: #00bf6f;
	}
	
	#findidpw{
		text-align: right;
	}
	
	#snslogin button {
		width: 65%;
		height: 40px;
		margin-left: 16.5%;	
		margin-bottom: 4%;
	}
	#snslogin p {
		text-align: center;
		font-weight: bold;
		margin-top: 30px;
	}

	#error{
		color: red;
	}

	.M_table{
		border-spacing: 10px;
		border-collapse: separate;
	}
	
	.M_table input{
		height: 30px;
		border-radius: 5px 5px 5px 5px;
		margin-right: 6px;
	}
	
	.modal-content {
		margin-top: 38%;
	}
