.container {
	background-color: #ebe6e6;
}

.container .h5{
	
	font-size: 20px;
	font-style: bold;
	margin-bottom: 20px;
	margin-top: 20px;
	
}

.container .h6{
	font-size: 20px;
	font-style: bold;
	margin-bottom: 20px;
	margin-top: 30px;
	
}

#MaintopDiv {
	text-align: center;
}

.company {
	padding-right: 8%;
    height: 230px;
    width: 110%;
    margin: 10px;
}

.companySide {
	height: 10px;
	background-color: #ebe6e6;
}

/* 회사정보 Div */
.col-md-12 {
	background-color: white;
	border: 1px solid gray;
	text-align: center;
	height: 220px;
}
 

.companyItem {
	background-color: white;
	border: 1px solid gray;
	text-align: center;
	height: 95%;
	width: 23%;
	float: left;
	margin-right: 1.5%;
	padding-top: 2%;
	padding-bottom: 1%;
}

/* 회사정보 Div top*/
.companyItemTop {
	padding-bottom: 15px;
	height: 36.5%;
}

.companyImg {
	height: 80px;
	width: 150px;
}

.companyImg2 {
	height: 120.92px;
	width: 120.92px;
}

.companyItemBottom {
	width: 100%;
}

.endDate {
	text-align: left;
	padding-left: 5%;
	font-size: 10px;
}

.totalCompanyItem {
	background-color: white;
	border: 1px solid gray;
	text-align: center;
	height: 220px;
	width: 25%;
	float: left;
	margin-left: 1%;
	padding-top: 2%;
	padding-bottom: 1%;
	margin-left: 0%;
}

.business {
	display: block;
	text-decoration: none;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 3%;
	padding-top: 3%;
}

.companyname {
	font-size: 15px;
	font-weight: bold;
	display: block;
	text-decoration: none;
	color: #333;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	padding-top: 25%;
}

.totalCompanyItem:hover {
	border: 3px solid #0bf9958c;
}

.companyItem:hover {
	border: 3px solid #0bf9958c;
}


.front {
	display: block;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	margin-left: 3%;
	padding-top: 3%;
}
