.userContainer {
	display: flex;
	height: auto;
	width: 100%;
	background-color: white;
	text-align: center;
}

.side {
	background-color: #ebe6e6;
	flex: 0.1;
}

.center1 {
	flex: 0.3;
}

.center1height {
	height: 1330px;
}

.center1heightside {
	height: 20px;
	background-color: #ebe6e6;
}

.centerside {
	background-color: #ebe6e6;
	flex: 0.05;
}

.center2 {
	flex: 1.7;
}

.center2height {
	/*height: 230px;*/
	height: 350px;
}

.center2heightside {
	height: 20px;
	background-color: #ebe6e6;
}

.center2calendar {
	height: 500px;
}

.center2calendarside {
	height: 20px;
	background-color: #ebe6e6;
}

.topside {
	height: 20px;
	background-color: #ebe6e6;
}

.btn {
	height: 35px;
	width: 120px;
	background-color: gray;
	color: white;
}

.modal-content {
	width: 300px;
	height: 320px;
	margin-left: 25%;
}

.modal-dialog {
	vertical-align: middle;
}

.modal fade in {
	vertical-align: middle;
}

#modal {
	top: 40%;
	margin-top: -40px;
}

.modal-footer {
	position: relative;
}

#soo {
	float: left;
	margin-left: 27.5%;
	background-color: #00bf6f;
	color: white;
}

#deleteDiv {
	text-align: center;
	font-weight: bold;
}

#delete {
	text-decoration: underline;
}

/*---------- chart ----------*/
.chart {
    display: inline-block;
    position: inherit;
}

canvas {
	width: 500px !important;
}




