.container {
	
}

h1 {
	text-align: center !important;
	margin: 4% 0% 4% 0% !important;
	font-size: 36px !important;
	font-weight: 700 !important;
	cursor: default;
}

.main {
	display: flex;
}

.side {
	flex: 0.5;
}

.center {
	flex: 2;
	display: flex;
}

.internal {
	text-align: center;
	flex: 1;
}

.internal_bewteen {
	flex: 0.1;
}

.fieldset {
	border: 2px solid #bcbcbc;
	border-radius: 15px;
	height: 360px;
}

.legend {
	text-align: center;
	width: 20%;
	padding: 0;
	margin-bottom: 20px;
	font-size: 21px;
	line-height: inherit;
	color: #333;
	border: 0;
}

#blank {
	height: 25px;
}

.textarea{
	border: none;
	outline: none;
	resize: none;
}


#form .col-md-8{
	text-align: center;
}

.speech {
	width: 150px;
	height: 40px;
	border-radius: px;
	background-color: #949494;
	color: white;
	text-align: center;
}


#custom_button2 {
	text-align: center;
}

.button2 {
	background-color: black;
	color: white;
	border-radius: 50%;
}
.button3 {
	background-color: #949494;
	color: white;
	height: 40px;
	width: 150px;
}

#stop {
	border: 0px;
	border-radius: 7px;
	background-color: #949494;
	color: white;
}

#quiz {
	cursor: pointer;
}

#timeDP{
	display: flex;
}

#timer {
	flex:1;
	cursor: pointer;
	text-align: center !important;
	width: 100px;
	height: 36px;
	line-height: 36px;
	border: 1px solid #949494;
	border-radius: 5px;
	font-size: 14pt;
}
<!--  -->
#end{
	font-size: 14pt;
	flex:1;
	cursor: pointer;
	text-align: center !important;
	border: 1px solid #949494;
	width: 100px;
	height: 36px;
	line-height: 36px;
	border-radius: 5px;
}

#quiz{
	margin-bottom: 1%;
}

textarea{
	resize: none;
}