*{
	margin: 0;
	padding: 0;
	background-color: white;
}

body{
	text-align: center;
}

::selection{
	background-color: #00bf6f;
	color: white;
}

h3{
	margin-top: 20px;
}

label{
	margin-top: 20px;
}

#paybtn{
	font-size: 10pt;
	width: 65px;
	border-radius: 3px;
	border: none;
	background-color: #00bf6f;
	color: white;
	cursor: pointer;
}

#paybtn:hover{
	background: #ffe800;
	color: white;
}

#chkQuantity{
	font-size: 8pt;
	color: red;
	margin-top: 15px;
}