<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.job.coverletter.Board"> <!-- 인터페이스 이름 형식으로 할 것 -->


	<!-- 결과 리턴시 DTO와 칼럼이 일치 하지 않을때 사용 -->
	<!-- property dto 속성, column 대응할 칼럼명 -->
	<!-- <resultMap type="" id="loginMap"> -->
	<!-- <result property="" column=""/> -->
	<!-- <result property="" column=""/> -->
	<!-- </resultMap> -->

	<!-- 글목록 -->
	<select id="boardList" resultType="boardDto">
		SELECT BOARDSEQ, GROUPNO, GROUPSEQ, TITLETAB, JOINEMAIL, TITLE, CONTENT,
		FILEPATH, REGDATE
		FROM BOARD
		WHERE GROUPSEQ = 0
		ORDER BY BOARDSEQ DESC
	</select>

	<!-- 글작성 -->
	<insert id="boardInsert" parameterType="boardDto">
		INSERT INTO BOARD
		(BOARDSEQ, GROUPNO, GROUPSEQ, JOINEMAIL, TITLE, CONTENT, REGDATE)
		VALUES (BOARD_SEQ.NEXTVAL, 1, 0, #{joinemail}, #{title}, #{content},
		SYSDATE)
	</insert>

	<!-- 글상세 -->
	<select id="boardDetail" resultType="boardDto">
		SELECT BOARDSEQ, GROUPNO,
		GROUPSEQ, TITLETAB, JOINEMAIL, TITLE, CONTENT, FILEPATH, REGDATE
		FROM
		BOARD
		WHERE BOARDSEQ = #{boardseq}
	</select>

	<!-- 글수정 -->



	<!-- 글삭제 -->
	<delete id="boardDelete" parameterType="int">
		DELETE
		FROM BOARD
		WHERE BOARDSEQ = #{boardseq}
	</delete>

	<!-- 댓글작성1 : 그룹시퀀스 업데이트 -->
	<update id="replyUpdate" parameterType="boardDto">
		UPDATE BOARD
		SET GROUPSEQ = GROUPSEQ + 1
		WHERE GROUPNO IN (
		SELECT GROUPNO
		FROM BOARD
		WHERE BOARDSEQ = #{boardseq}
		AND GROUPSEQ > 0
		)
	</update>

	<!-- 댓글작성2 : 댓글작성 -->
	<insert id="replyInsert" parameterType="boardDto">
		INSERT INTO BOARD(BOARDSEQ, GROUPNO, GROUPSEQ, TITLETAB, JOINEMAIL, CONTENT,
		REGDATE)
		VALUES (
		BOARD_SEQ.NEXTVAL,
		#{groupno},
		1,
		0,
		#{joinemail}, #{content}, SYSDATE
		)
	</insert>

	<!-- 대댓글작성1 : -->



	<!-- 댓글상세 -->
	<select id="replyList" parameterType="int" resultType="boardDto">
		SELECT BOARDSEQ, GROUPNO, GROUPSEQ, TITLETAB, JOINEMAIL, TITLE, CONTENT,
		FILEPATH, REGDATE
		FROM BOARD
		WHERE GROUPNO = #{groupno} AND GROUPSEQ != 0
		ORDER BY REGDATE DESC
	</select>

	<!-- 댓글삭제 -->


</mapper>
