<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.job.coverletter.SupportPay"> <!-- 인터페이스 이름 형식으로 할 것 -->
  
  
  <!-- 결과 리턴시 DTO와 칼럼이 일치 하지 않을때 사용 -->
  <!-- property dto 속성, column 대응할 칼럼명 -->
<!--   <resultMap type="" id="loginMap"> -->
<!--   	<result property="" column=""/>  -->
<!--   	<result property="" column=""/> -->
<!--   </resultMap> -->
 
 
</mapper>
